*{
    box-sizing:border-box;
    
}
html{
    font-size :14 px;
    font-family :'Times New Roman', Times, serif;
    
    
    color: #c4bdbd;
}
body{
    
    background-color: rgb(255, 255, 255);
}
a{
    color: #000000;
    font-weight: bolder;

}
aside{
    float:right;
    
}
.general{
    padding:60px;
    font-family: 'Quicksand', sans-serif;
}


.subforo-info{
    color:rgb(0, 0, 0);
}
.right-bar{
    width: 20px;
    padding:20px;
    align-content: center;
}

h1{
    color:rgb(245, 245, 245);
    font-size: medium;
}
p{
    color:rgb(255, 255, 255);

}
span{
    color:rgb(12, 12, 12);
    
}
footer{
    /*width:100%;
    height:100px;
    background-color: rgb(0, 0, 0);*/
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;

}

.container{
   min-height: calc(100vh-100px-100px);

}
.subforo{
    margin-top :10px;
}
.close-icon{
    color:black;
}
.subforo-title{
    background-color: #1f1919;
    padding:5px;
    border-radius:5px;
    margin:10px;
    width:60%;
    height:5%;
    
}
i{
    color: rgb(196, 79, 79);
}
.subforo-descripcion *{
    margin-block:0;
}
.subforo-fila{
    display:grid;
    grid-template-columns:7% 60% 13% 20%;
}
.subforo-columna{
    padding: 10px;
    margin:4px;
    
    border-radius:5px;
    background-color: #bab1b1;
    border-color: black;
}

.center{
    display:flex;
    justify-content:center;
    align-items:center;

}
.subforo-icon i{
    font-size:40px;
}
.subforo-dividor{
    display: none;
}

header{
    margin-inline:10px;
   
}
img{
    
    height: 170px;
    width:100%;
    
    background-size: cover;
    padding:15px;
    
}
.navbar{
    display:flex;
    align-items:center;
}
.navegacion{
    background-color: #cb3737;
    padding:10px;
    width:65%;
    display:inline-block;
    border-radius:5px;
    max-height:80px;
    margin-right:10px;
}
.close-icon i{
    font-size:60px;
    float:left;
    cursor:pointer;
}
.nav-list{
    list-style-type:none;
    overflow:hidden;
}
.nav-item a{
    float:right;
    display:block;
    text-align: center;
    margin-inline:20px;
    font-size:20px;
    padding:10px;
    color:white;

}
.nav-item a:hover{
    background-color:#2c2c2c;
}


.hide{
    display :none;
}

.bar-icon{
    font-size:60px;
    display:inline-block;
    margin-right:10px;
    color: #cb3737;
    cursor:pointer;

}

.brand{
    margin-top: 0%;
    font-size:50px;
    display:inline-block;
    font-family: 'Orbitron', sans-serif;
    color:black;

}

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  #f33e3e;
    display: block;
    text-align: center;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(255, 255, 255);
  }
  .container-bar{
	width: 100%;
	max-width: 50px;
	position: fixed;
	left: 0;
	top: 25%;
}
.container-bar a{
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: all 500ms ease;
	color: #fff;
}
.container-bar a:hover{
	background: #1c1c1c;
}
.container-bar .fa-facebook{
	background: #3b5998;
	border-radius: 0px 5px 0px 0px;
}
.container-bar .fa-youtube{
	background: #e52a23;
}
.container-bar .fa-twitter{
	background: #00acee;
}
.container-bar .fa-github{
	background: #747473;
}
.container-bar .fa-pinterest{
	background: #c8232c;
	border-radius: 0px 0px 5px 0px;
}
.container-bar #title{
	position: absolute;
	background: #1c1c1c;
	padding: 0px 8px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 15px;
	top:12px; left: 0px;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}
.container-bar a:hover #title{
	opacity: 1;
	visibility: visible;
	left: 64px;
}
.container-bar #title:after{
	position: absolute;
	content: '';
	border-left: 7px solid transparent;
	border-right: 6px solid #1c1c1c;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	right: 100%;
	top: 8px;
}
#btn-social{
	display: none;
}
.fa-play{
	cursor: pointer;
	transition: all 0.4s;
	font-size: 12px;
	margin-bottom: 5px;
	display: inline-block;
	transform: rotate(180deg);
	color: #49b0e6;
}
#btn-social:checked ~ .fa-play{
	transform: rotate(0deg);
}
.icon-social{
	transition: all 0.4s;
	transform: translateX(0%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
	transform: translateX(-100%);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}